@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Alkatra&text=Hello%20World');
@import url('https://fonts.googleapis.com/css?family=Fira+Code');
@font-face {
    font-family: jinkaiFont;
    src: url("../fonts/jinkai.ttf") format("TrueType");
}

@font-face {
    font-family: monaco;
    src: url("../fonts/monaco.ttf") format("TrueType");
}

@font-face {
    font-family: alegreya;
    src: url("../fonts/Alegreya-Regular.ttf") format("TrueType");
}

body {
    overflow-wrap: break-word;
    /* line-height: 1.5; */
    margin: auto;
    padding: 20px;
    max-width: 720px;
    font-family: alegreya,jinkaiFont, Georgia,Cambria,'Times New Roman',serif;
    text-align: left;
    word-wrap: break-word;
    color: #444;
    background-color: #fff;
}
.category-item a{
    text-decoration: none;
    color: #444;
}

.categories {
    display: inline-flex;
    margin: 1rem;
}


h1,h2,h3,h4,h5,h6,strong,b {
    color: #222;
}

a {
    color: #3273dc;
}

.title {
    border: 0;
    text-decoration: none;
}

.title span {
    font-weight: 400;
}

nav a {
    margin-right: 10px;
}

textarea {
    width: 100%;
    font-size: 16px;
}

input {
    font-size: 16px;
}

#content {
    line-height: 1.6;
    text-align: justify;
}

#org-div-home-and-up {
    margin-left: 30px;
}

table {
    border-collapse: collapse;
    width: 100%;
    text-align: center
}

th {
    border: 1px solid #777;
}

td {
    border: 1px solid #777;
}

img {
    max-width: 100%;
}

code {
    padding: 2px 5px;
    background-color: #f2f2f2;
}

pre code {
    display: block;
    padding: 20px;
    font-size: 14px;
    white-space: pre-wrap;
    color: #222;
}

div.highlight pre {
    color: initial;
    background-color: initial;
}

div.highlight code {
    color: unset;
    background-color: unset;
}

blockquote {
    border-left: 1px solid #999;
    padding-left: 20px;
    font-style: italic;
    color: #222;
}

footer {
    padding: 25px;
    text-align: center
}

.helptext {
    font-size: small;
    color: #777;
}

.errorlist {
    font-size: small;
    color: #eba613;
}

ul.blog-posts li {
    display: flex
}

ul.blog-posts li span {
    flex: 0 0 130px
}

ul.blog-posts li a:visited {
    color: #8b6fcb
}

li {
    list-style: outside;
    margin: 0.4rem 0;
}

.category-item {
    align-items: center;
    justify-content: center;
    display: flex;
    margin-right: .1rem;
    margin-left: .1rem;
    border: #000 1px solid;
    border-radius: 3px;
    padding-right: 0.2rem;
    padding-left: 0.2rem;
    width: auto;
    font-size: .7rem;
    font-weight: bold;
    text-align: center;
}

.category-items {
    display:inline-flex;
}


.title {
    text-align: center;
}

.header-title {
    font-family: 'Alkatra', serif;
    font-size: 3rem;
    font-weight: bold;
    text-decoration: none;
    color: #222;
    text-shadow: 4px 4px 4px #aaa;
}

.header-line{
    width: 100%;
    margin-top: 1.5rem;
    border-width: 2px;
    border-color: #482936;
    border-style: solid none none none;
}

.org-src-container {
    border: 1px solid #777;
    padding: 1rem;
}

pre {
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.figure {
    text-align: center;
}

.footpara {
    display: inline;
}

.underline {
    text-underline-offset: 3px;
    text-decoration: underline;
    color: #000;
}

.home-and-up {
    text-decoration:none
}

b {
    color: #000;
}

.image-container {
    display: inline;
    position: relative;
}

.image-container a {
    text-decoration: none;                
}

.image-text {
    display: none;
}

.image-container:hover .image-text {
    display: inline;
}

.page-item {
    align-items: center;
    justify-content:space-between;
    display:flex;
}
